# 1. Libraries 세팅
튜토리얼을 진행하기 위하여 numpy, pandas, matplotlib, seaborn을 사용하도록한다.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# 카글 에러 제거
import warnings
warnings.filterwarnings("ignore")

# 딥러닝을 위해
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, Perceptron
from sklearn.metrics import accuracy_score

# 2. 데이터 불러오기 및 기초통계확인
* tatanic 데이터 중 train, test파일을 불러오기
* 기초통계확인 : describe
* 변수확인 / 표로 정리

변수 | 설명
------- | -------
**PassengerId** | id
**Survived** | 생존 여부 (0 = 사망, 1 = 생존) 
**Pclass** | 티켓 클래스 (1 = 1등석, 2 = 2등석, 3 = 3등석)
**name** | 이름  
**Sex** | 성별
**Age** | 나이
**SibSp** | 함께 탑승한 자녀 , 배우자 의 수
**Parch** | 함께 탑승한 부모님 , 아이들 의 수
**Fare** | 요금
**Ticket** | 티켓 번호
**Cabin** | 수하물 번호
**Embarked** | 선착장

In [2]:
train = pd.read_csv("/kaggle/input/titanic/train.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")

train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## 1) 결측치 확인
* 불러온 자료의 head값을 확인하고 피처의 정보를 얻어보자.

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### 결측치 확인 결과
결과를 예측하기 위해서 필요하지 않은 컬럼을 제거
* train데이터프레임에서 'Name','Ticket' ,'Age','Cabin','PassengerId','Survived', 'Embarked' 컬럼에 대해 처리가 필요하다.
* test데이터프레임에서 'Name','Ticket' ,'Age','Cabin','Embarked' 컬럼에 대해 처리가 필요하다.
* test 데이터프레임에서 Fare 컬럼에 null 1개의 값은 추 후 처리가 필요하다.

In [9]:
train_need_col = [i for i in train.columns if i not in ['Name','Ticket' ,'Age','Cabin','PassengerId','Survived', 'Embarked']]
test_need_col = [i for i in test.columns if i not in ['Name','Ticket' ,'Age','Cabin','Embarked']]
print(train_need_col,test_need_col)

['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare'] ['PassengerId', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Fare']

In [10]:
train_simple = train[train_need_col]
test_simple = test[test_need_col]
display(train_simple.head())
display(test_simple.head())

   Pclass     Sex  SibSp  Parch     Fare
0       3    male      1      0   7.2500
1       1  female      1      0  71.2833
2       3  female      0      0   7.9250
3       1  female      1      0  53.1000
4       3    male      0      0   8.0500

   PassengerId  Pclass     Sex  SibSp  Parch     Fare
0          892       3    male      0      0   7.8292
1          893       3  female      1      0   7.0000
2          894       2    male      0      0   9.6875
3          895       3    male      0      0   8.6625
4          896       3  female      1      1  12.2875

In [11]:
test_simple.isnull().sum()
test_simple.describe()
# test_simple[test_simple['Fare'].isnull()]['Fare'].loc[152]
# test_simple['Fare'].loc[152] = 35.627188

# 쌤Tip으로 변경
test_simple['Fare'] = test_simple['Fare'].fillna(35.627188)

In [12]:
print(test_simple[test_simple['Fare'].isnull()])
print(test_simple['Fare'].loc[152])

Empty DataFrame
Columns: [PassengerId, Pclass, Sex, SibSp, Parch, Fare]
Index: []
35.627188

In [13]:
display(train_simple)
display(test_simple)

     Pclass     Sex  SibSp  Parch     Fare
0         3    male      1      0   7.2500
1         1  female      1      0  71.2833
2         3  female      0      0   7.9250
3         1  female      1      0  53.1000
4         3    male      0      0   8.0500
..      ...     ...    ...    ...      ...
886       2    male      0      0  13.0000
887       1  female      0      0  30.0000
888       3  female      1      2  23.4500
889       1    male      0      0  30.0000
890       3    male      0      0   7.7500

[891 rows x 5 columns]

     PassengerId  Pclass     Sex  SibSp  Parch      Fare
0            892       3    male      0      0    7.8292
1            893       3  female      1      0    7.0000
2            894       2    male      0      0    9.6875
3            895       3    male      0      0    8.6625
4            896       3  female      1      1   12.2875
..           ...     ...     ...    ...    ...       ...
413         1305       3    male      0      0    8.0500
414         1306       1  female      0      0  108.9000
415         1307       3    male      0      0    7.2500
416         1308       3    male      0      0    8.0500
417         1309       3    male      1      1   22.3583

[418 rows x 6 columns]

In [14]:
sex_mapping = {"male": 0, "female": 1}
train_simple['Sex'] = train_simple['Sex'].map(sex_mapping)
test_simple['Sex'] = test_simple['Sex'].map(sex_mapping)
display(train_simple.describe())
display(test_simple.describe())
display(train_simple)
display(test_simple)

           Pclass         Sex       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     2.308642    0.352413    0.523008    0.381594   32.204208
std      0.836071    0.477990    1.102743    0.806057   49.693429
min      1.000000    0.000000    0.000000    0.000000    0.000000
25%      2.000000    0.000000    0.000000    0.000000    7.910400
50%      3.000000    0.000000    0.000000    0.000000   14.454200
75%      3.000000    1.000000    1.000000    0.000000   31.000000
max      3.000000    1.000000    8.000000    6.000000  512.329200

       PassengerId      Pclass         Sex       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550    0.363636    0.447368    0.392344   35.627188
std     120.810458    0.841838    0.481622    0.896760    0.981429   55.840500
min     892.000000    1.000000    0.000000    0.000000    0.000000    0.000000
25%     996.250000    1.000000    0.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000    0.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000    1.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000    1.000000    8.000000    9.000000  512.329200

     Pclass  Sex  SibSp  Parch     Fare
0         3    0      1      0   7.2500
1         1    1      1      0  71.2833
2         3    1      0      0   7.9250
3         1    1      1      0  53.1000
4         3    0      0      0   8.0500
..      ...  ...    ...    ...      ...
886       2    0      0      0  13.0000
887       1    1      0      0  30.0000
888       3    1      1      2  23.4500
889       1    0      0      0  30.0000
890       3    0      0      0   7.7500

[891 rows x 5 columns]

     PassengerId  Pclass  Sex  SibSp  Parch      Fare
0            892       3    0      0      0    7.8292
1            893       3    1      1      0    7.0000
2            894       2    0      0      0    9.6875
3            895       3    0      0      0    8.6625
4            896       3    1      1      1   12.2875
..           ...     ...  ...    ...    ...       ...
413         1305       3    0      0      0    8.0500
414         1306       1    1      0      0  108.9000
415         1307       3    0      0      0    7.2500
416         1308       3    0      0      0    8.0500
417         1309       3    0      1      1   22.3583

[418 rows x 6 columns]

In [15]:
target = train['Survived']
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [16]:
x_train, x_val, y_train, y_val = train_test_split(train_simple, target, test_size = 0.22, random_state = 0)

## Logistic Regression
두 데이터 간의 관계를 찾는 데이터 분석 기법 / 확률적인 접근이 가능하다.

In [17]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_val)
acc_logreg = round(accuracy_score(y_pred, y_val) * 100, 2)
print(acc_logreg)

80.71

## Perceptron
클래스를 나누어 분류하는 방법

In [18]:
perceptron = Perceptron()
perceptron.fit(x_train, y_train)
y_pred = perceptron.predict(x_val)
acc_perceptron = round(accuracy_score(y_pred, y_val) * 100, 2)
print(acc_perceptron)

67.51

In [19]:
model = logreg 
ids = test_simple['PassengerId']
predictions = model.predict(test_simple.drop('PassengerId', axis=1))

output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })
output

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [20]:
output.to_csv('submission.csv', index=False)